<!--
<div>{{title}} is running on port :{{42*100}}</div>
<div>
<input type="text" [(ngModel)]="title" required>
</div>
<button (click)="fnc()">Click</button>

<app-home [msg]="'Welcome to HCL'" (onCall)="display($event)"></app-home>
<p>{{data}}</p>

<app-interest></app-interest>
-->
<div>
    <div [ngClass]="showColor?'red':'blue'">Hello World!</div>
    <button (click)="changeColor()" [ngStyle]="{'padding':'6px','font-size':'1.2em'}">Click</button>
</div>

<div>
    <div *ngIf="age>18; else notAdult">
        <div>You are eligible to vote</div>
    </div>
    <ng-template #notAdult>
        <div>You are not eligible to vote</div>
    </ng-template>
</div>
